.lambda-input {
    position: relative;
    flex-grow: 1;
    background: var(--Schemes-Surface-Container, #F3EDF7);
}

.build-tree-btn {
    justify-content: space-around;
    background: var(--Schemes-Primary, #65558F);
    padding: .8rem;
    /*width: 180px;*/

    color: var(--M3-sys-light-on-primary, var(--Schemes-On-Primary, #FFF));
    text-align: center;

    /* M3/label/large */
    font-family: var(--Label-Large-Font, Roboto);
    font-size: var(--Label-Large-Size, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Label-Large-Line-Height, 20px); /* 142.857% */
    letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

.build-tree-btn:hover {
    background: var(--Schemes-Primary, #746797);
}
