@tailwind base;
@tailwind components;
@tailwind utilities;


@media only screen and (max-width: 1300px) {
    /*.ui-block {*/
    /*    margin: 2rem !important;*/
    /*}*/

    /*.main-page {*/
    /*    flex-direction: column;*/
    /*}*/

    /*.lambda-input {*/
    /*    margin-top: 0 !important;*/
    /*    margin-right: 0 !important;*/
    /*}*/

    /*.help-bar {*/
    /*    margin-right: 2rem !important;*/
    /*}*/

    /*.error-output {*/
    /*    margin-top: 0 !important;*/
    /*    margin-left: 2rem !important;*/
    /*}*/

    /*.tree-flat-container {*/
    /*    margin-right: 0 !important;*/
    /*    margin-top: 0 !important;*/

    /*}*/

}

@media only screen and (max-width: 1000px) {
    .ui-block {
        margin: 1rem !important;
    }

    .main-page {
        flex-direction: column-reverse;
    }

    .sidebar {
        flex-direction: column-reverse;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        gap: 1rem !important;

        max-width: none !important;

    }

    .help-bar {
        /*margin-top: 0 !important;*/
        margin-bottom: 0 !important;
        min-height: 100px !important;
    }

    .error-output {
        margin-top: 0 !important;
    }

    .lambda-input {
        flex-grow: 2 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;

        max-height: 400px !important;
        min-height: 400px !important;
    }

    .tree-flat-container {
        min-height: 400px !important;
    }


    .tree-flat-container {
        /*flex-grow: 2 !important;*/

    }

    .switch-tree-container {
        /*display: none;*/
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.main-page {
    background-color: #D7D7D9;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui-block {
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.lambda-input {
    margin-right: 2rem ;
    margin-left: 2rem;
    margin-bottom: 1rem ;
    margin-top: 2rem;

}
.tree-flat-container {
    margin-right: 2rem ;
    margin-left: 2rem;
    margin-bottom: 2rem ;
    margin-top: 1rem;
}

.sidebar {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.error-output {

    min-height: calc((100% - 2rem) / 2);
    flex-grow: 0;
}

.sidebar {
    max-width: 400px;
    min-width: 400px;
}

.error-message {
    width: 90%;

}

.error-message p {
    text-wrap: pretty ;

}




.help-bar {
    min-height: calc((100% - 2rem) / 2);

    flex-grow: 1;
}

.main-page {
    min-height: 100vh;
}