.config-button {
    border-radius: 100px;
    background: var(--Schemes-Primary, #65558F);
    outline: none;
}

.text-input {
    width: 2rem;
    color: var(--M3-sys-light-on-secondary-container, var(--Schemes-On-Secondary-Container, #4A4459));
    border-radius: 4px;
    border: 2px solid var(--Schemes-Outline, #79747E);
    background: var(--Schemes-Surface-Container, #e8e0ef);

    padding: 0 0 0 .3rem;

    /*color: var(--M3-sys-light-on-surface-variant, var(--Schemes-On-Surface-Variant, #49454F));*/

    outline: none;
    /* M3/body/large */
    font-family: var(--Body-Large-Font, Roboto);
    font-size: var(--Body-Large-Size, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Body-Large-Line-Height, 24px); /* 150% */
    letter-spacing: var(--Body-Large-Tracking, 0.5px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}