.tree-flat-container {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}


.tree-flat-container-full-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;

    min-width: 400px;

    margin: 0 !important;
    border-radius: var(--Corner-Medium, 12px);
    top: 0;
    left: 0;
}

.tree-bx {
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--Schemes-Surface-Container, #F3EDF7);
    border-radius: var(--Corner-Medium, 12px);
}


.tree-info-bx {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--Schemes-Surface-Container, #F3EDF7);
    z-index: 10000;
}

.tree-info-bx h1 {
    font-size: 1.5rem;
    color: #4A4459;
}

.react-aria-Checkbox {
    --selected-color: var(--Schemes-Primary, #65558F);
    --selected-color-pressed: var(--Schemes-Primary, #65558F);
    --checkmark-color: white;

    display: flex;
    align-items: center;
    gap: 0.571rem;
    font-size: 1.143rem;
    color: black;
    forced-color-adjust: none;

    .checkbox {
        width: 1.143rem;
        height: 1.143rem;
        border: 2px solid var(--Schemes-On-Surface-Variant, #49454F);
        border-radius: 4px;
        transition: all 200ms;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        width: 1rem;
        height: 1rem;
        fill: none;
        stroke: var(--checkmark-color);
        stroke-width: 3px;
        stroke-dasharray: 22px;
        stroke-dashoffset: 66;
        transition: all 200ms;
    }

    &[data-pressed] .checkbox {
        border-color: var(--Schemes-Primary, #65558F);
    }

    &[data-focus-visible] .checkbox {
        outline: 2px solid gray;
        outline-offset: 2px;
    }

    &[data-selected],
    &[data-indeterminate] {
        .checkbox {
            border-color: var(--selected-color);
            background: var(--selected-color);
        }

        &[data-pressed] .checkbox {
            border-color: var(--selected-color-pressed);
            background: var(--selected-color-pressed);
        }

        svg {
            stroke-dashoffset: 44;
        }
    }

    &[data-indeterminate] {
        & svg {
            stroke: none;
            fill: var(--checkmark-color);
        }
    }
}

.react-aria-Switch {
    display: flex;
    align-items: center;
    gap: 0.571rem;
    font-size: 1.143rem;
    color: black;
    forced-color-adjust: none;

    .indicator {
        width: 2rem;
        height: 1.143rem;
        border: 2px solid var(--Schemes-Outline, #79747E);
        background: var(--Schemes-Surface-Container-Highest, #E6E0E9);
        border-radius: 1.143rem;
        transition: all 200ms;
        display: flex;
        align-items: center;

        &:before {
            content: '';
            display: block;
            margin: 0.143rem;
            width: 0.757rem;
            height: 0.757rem;
            background: var(--Schemes-Outline, #79747E);
            border-radius: 16px;
            transition: all 200ms;
        }
    }

    &[data-pressed] .indicator {
        /*border-color: yellow;*/

        &:before {
            /*background: orange;*/
        }
    }

    &[data-selected] {
        .indicator {
            border-color: var(--Schemes-Primary, #65558F);
            background: var(--Schemes-Primary, #65558F);

            &:before {
                background: white;
                transform: translateX(100%);
            }
        }

        &[data-pressed] {
            .indicator {
                /*border-color: blue;*/
                /*background: magenta;*/
            }
        }
    }

    &[data-focus-visible] .indicator {

    }
}