.tree-flat-container {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.tree-bx {
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--Schemes-Surface-Container, #F3EDF7);
}


.switch-tree-button {
    /*background-color: red;*/
    padding: 8px;
    cursor: pointer;

    transition: background-color 0.25s ease;
}


.switch-tree-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    /*padding: 5px;*/
    margin: 10px;
    z-index: 1000;
    border: 1px solid #ccc;
}

.tree-info-bx {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tree-info-bx h1 {
    font-size: 1.5rem;
    color: #4A4459;
}