.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--Schemes-Outline, #79747E);
}

.subtitle {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    color: var(--Schemes-Outline, #79747E);
    text-align: center;
    letter-spacing: 1px;
}

.paragraph {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 1rem auto;

    color: var(--Schemes-On-Surface, #1D1B20);

    text-align: justify;
}

.paragraph strong {
    font-weight: bold;
    color: var(--Schemes-On-Surface-Variant, #49454F);
}

.paragraph em {
    font-style: italic;
    color: var(--Schemes-On-Surface-Variant, #49454F);
}

.paragraph code {
    font-family: monospace;
    background: var(--Schemes-Surface-Variant);
    padding: 2px 4px;
    border-radius: 4px;
    color: #d63384;
}

.code {
    color: var(--Schemes-On-Surface, #000000);
    background: var(--Schemes-Surface, #FEF7FF);
    font-family: "Fira Code", monospace;
    padding: 2rem;
    border-radius: 6px;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ddd; /* Subtle border for separation */
    margin: 1rem auto 1rem auto;
    max-width: 790px;
    overflow: auto;
}