.lang-btn {
    border: 1px solid var(--Schemes-Outline, #79747E);
    height: 2.2rem;
    color: var(--M3-sys-light-on-secondary-container, var(--Schemes-On-Secondary-Container, #4A4459));

}

.sk {
    border-radius: 100px 0px 0px 100px;

}

.en {
    border-radius: 0px 100px 100px 0px;
}

.ua {
    border-radius: 0 0 0 0;

}

.lang-btn-selected {
    background: var(--Schemes-Secondary-Container, #d9c4fb);
}