.tutorials-popover {
    max-width: 300px !important;
}

.search .search-input {
    color: var(--M3-sys-light-on-surface-variant, var(--Schemes-On-Surface-Variant, #49454F));
    /* M3/body/large */
    font-family: var(--Body-Large-Font, Roboto);
    font-size: var(--Body-Large-Size, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Body-Large-Line-Height, 24px); /* 150% */
    letter-spacing: var(--Body-Large-Tracking, 0.5px);
    border-radius: 4px 4px 0px 0px;
    background: var(--Schemes-Surface-Container-High, #ECE6F0);
    padding: 0.6rem 1rem;
    width: 100%;
}

.search .search-input:focus {
    border: 3px solid var(--Schemes-Primary, #65558F);

    color: var(--M3-sys-light-on-surface-variant, var(--Schemes-On-Surface-Variant, #49454F));
    outline: none !important;
    background: var(--State-Layers-On-Surface-Opacity-08, rgba(29, 27, 32, 0.08));
}

.search {
    /*margin: 1rem 1rem 1rem 1rem;*/
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*background: red;*/
    border-radius: 4px;

}

