@media only screen and (max-width: 1024px) {
    .menu-bx {
        right: -3rem;
    }
}


.modal-title {
    color: var(--M3-sys-light-on-surface, var(--Schemes-On-Surface, #1D1B20));

    /* M3/title/medium */
    font-family: var(--Title-Medium-Font, Roboto);
    font-size: var(--Title-Medium-Size, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Title-Medium-Line-Height, 24px); /* 150% */
    letter-spacing: var(--Title-Medium-Tracking, 0.15px);
    margin: 0 0 1.5rem 0;
}

.latex-code {
    text-wrap: nowrap;
    display: block;
    border: 1px #000000 solid;
    padding: 2rem;
    border-radius: 0.4rem;
    color: var(--Schemes-On-Surface, #000000);
    background: var(--Schemes-Surface, #FEF7FF);
    overflow: scroll;

    max-height: 600px;
}

.export-modal-content {
    min-height: fit-content;
    max-height: 75vh;
    /*max-width: none;*/
    /*height: fit-content !important;*/
    overflow-y: auto;
    overflow-x: clip !important;
}

.png-bx {
    max-height: 400px;
    min-height: 100px;

    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: block;

    align-items: start;
    justify-content: start;

    border-radius: 0.2rem;
    border: 2px solid var(--Schemes-Primary, #65558F);
}

.png-div {
    max-width: none !important;
}

.react-aria-Slider {
    display: grid;
    grid-template-areas: "label output"
                       "track track";
    grid-template-columns: 1fr auto;
    max-width: 300px;

    /* M3/label/large */
    font-family: var(--Label-Large-Font, Roboto);
    font-size: var(--Label-Large-Size, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Label-Large-Line-Height, 20px); /* 142.857% */
    letter-spacing: var(--Label-Large-Tracking, 0.1px);

    .react-aria-Label {
        grid-area: label;
    }

    .react-aria-SliderOutput {
        grid-area: output;
    }

    .react-aria-SliderTrack {
        grid-area: track;
        position: relative;

        /* track line */

        &:before {
            content: '';
            display: block;
            position: absolute;
            border-radius: 2px 16px 16px 2px;
            background: var(--Schemes-Secondary-Container, #ddcff4);
            /*border: 2px solid var(--Schemes-Primary, #65558F);*/
        }
    }

    .react-aria-SliderThumb {
        width: .7rem;
        height: 1.8rem;
        border-radius: 5px;
        background: red;
        forced-color-adjust: none;
        cursor: pointer;
        background: var(--Schemes-Primary, #65558F);

        &[data-dragging] {
            /*background: blue;*/
        }
    }

    &[data-orientation=horizontal] {
        flex-direction: column;
        width: 300px;

        .react-aria-SliderTrack {
            height: 30px;
            width: 100%;

            &:before {
                height: 12px;
                border-radius: 5px;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .react-aria-SliderThumb {
            top: 50%;
        }
    }
}

.loading-overlay {
    cursor: wait !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(1px);
}

.loading-overlay img {
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}


.center-tree-btn {
    padding: 0.5rem;
}

.export-button:hover {
    background: var(--Schemes-Primary, #65558F);

    transform: scale(1.05);
}

.export-button {
    background: var(--Schemes-Primary, #65558F);
}

