.my-button {
    padding: .7rem;
    border-radius: 16px;
    outline: none;


    transition: 0.3s;

    display: flex;
    flex-direction: row;
    gap: .6rem;
    align-items: center;

}

.my-button:hover {
    background: var(--State-Layers-On-Secondary-Container-Opacity-12, rgba(74, 68, 89, 0.12));

}