.header-bx {
    min-height: 80px;
    background: var(--Schemes-Surface-Container, #e8e0ef);
    margin: 0 2rem 0 2rem;
    border-radius: 0 0 var(--Corner-Medium, 12px) var(--Corner-Medium, 12px);

}

.logo {
    width: 3.8rem;
    margin: 1rem;
}

.name {
    cursor: default;
    color: var(--Schemes-On-Surface-Variant, #49454F);
    text-align: center;
    font-family: var(--Headline-Medium-Font, Roboto);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Display-Large-Line-Height, 64px); /* 160% */
    letter-spacing: var(--Display-Large-Tracking, -0.25px);
    text-wrap: nowrap;
    display: block;
    min-width: 100px;
}

.name::selection {
    background: transparent;
}

.configurations {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.configurations-btn {
    justify-content: space-around;
    background: var(--Schemes-Primary, #65558F);
    padding: .8rem;
    width: 180px;

    color: var(--M3-sys-light-on-primary, var(--Schemes-On-Primary, #FFF));
    text-align: center;

    /* M3/label/large */
    font-family: var(--Label-Large-Font, Roboto);
    font-size: var(--Label-Large-Size, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Label-Large-Line-Height, 20px); /* 142.857% */
    letter-spacing: var(--Label-Large-Tracking, 0.1px);
}

.configurations-btn:hover {
    background: var(--Schemes-Primary, #746797);
}


