.proof-node
{
    display: inline-flex;
    flex-direction: column;

}

.premises
{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    /*border-bottom: 1px solid black;*/

}

.conclusion.not-root {
    /*background-color: lightgray;*/
    /*border-bottom: 1px solid black;*/
    /*border-top: 1px solid black;*/

}

.conclusion.not-leaf-node {
    /*border-top: 1px solid black;*/
}

.premises.leaf-node {

    /*border-bottom: 1px solid black;*/

}



.conclusion
{
    display: inline-flex;
    margin-top: -1px;
    position: relative;
}

.conclusion::after {
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    content: "";
}


.conclusion-left
{
    /*border-top: 1px solid black;*/

    flex-grow: 1;
}
.conclusion-center.not-leaf-node
{
    /*box-shadow: inset 0px -1px 0 0 rgb(0, 0, 0), inset 0 1px 0 0 rgba(0, 0, 0);*/

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /*flex-grow: 1;*/
}

.conclusion-center.root {
    border-bottom: none;
}

.conclusion-center.leaf-node {
    /*border-bottom: 1px solid black;*/
}


.conclusion-right
{
    border-top: 1px solid black;
    flex-grow: 1;
    display: inline-flex;
    justify-content: flex-end;
}


.rule-name {
    display: inline-flex;
    justify-content: flex-end;
    position: relative;
    bottom: 9px;
    left: 38px;
    width: 0;
    height: 0;
    white-space: nowrap;

    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;
    color: black;
    font-style: italic;

}


.inter-proof
{
    border-bottom: 1px solid black;
    /*height: 1px;*/
    width: 8rem;
}

.premises > .proof-node:not(:first-child) > .conclusion > .conclusion-left
{
    /*border-bottom: 1px solid black;*/
    /*border-top: 1px solid black;*/

}
.premises > .proof-node > .conclusion > .conclusion-center
{
    /*border-top: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
}
.premises > .proof-node:not(:last-child) > .conclusion > .conclusion-right
{
    /*border-top: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
}

.premise mjx-container, .conclusion mjx-container {
    margin: 11px !important;
}

.conclusion-center:hover {
    color: darkorange;
}