@media only screen and (max-width: 1024px) {

    .hide-sidebar-btn {
        display: none !important;
    }

    .help-modal-content {
        max-height: 75vh !important;
        max-width: 90vw !important;
    }

    .export-modal-content {
        max-height: 75vh !important;
    }

    .png-bx {
        max-height: 150px !important;
        min-height: 150px !important;
    }

    .latex-code {
        max-height: 250px !important;
    }

    .help-bar {
        min-height: 300px !important;

        max-height: 300px !important;
    }

    .ui-block {
        margin: 1rem !important;
    }

    .main-page {
        gap: 0 !important;
        max-height: none !important;
    }



    .main-pane {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        gap: 1rem !important;
        max-width: none !important;
    }

    .help-bar {
        margin-bottom: 0 !important;
        min-height: 100px !important;
    }

    .error-output {
        margin: 0.5rem 0 0 0 !important;

        padding-bottom: 1rem;
        overflow-y: scroll !important;
        min-height: 160px !important;
        /*height: fit-content !important;*/
    }

    .lambda-input {
        flex-grow: 2 !important;
        margin: 1rem 0 .5rem 0rem !important;
        min-height: 400px !important;
    }

    .gamma-content {
        margin: 0.5rem 0 0 0 !important;

    }

    .tree-flat-container {
        min-height: 400px !important;
        margin: 0 0 .6rem 0 !important;
        /*margin-bottom: 0 !important;*/
    }


    .header-bx {
        margin: 0 1rem 0 1rem !important;

    }

    .logo {
        width: 3rem !important;
    }


    .tree-flat-container {
        /*flex-grow: 2 !important;*/
        /*margin-right: 1rem !important;*/
    }
}


.ui-block {
    flex-wrap: nowrap;
    /*flex-shrink: 0;*/
    border-radius: var(--Corner-Medium, 12px);
}

.lambda-input {
    margin: 2rem 1rem 1rem 2rem;
    overflow: hidden;
}

.tree-flat-container {
    margin: 1rem 1rem 2rem 2rem;
}

.sidebar {
    /*gap: 2rem;*/
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.error-output {
    flex-grow: 1;
    margin: 2rem 1rem 1rem 1rem;
}

.configurations {
    height: var(--config-block-height);
    margin-bottom: 2rem;

    margin-top: 1rem;
    background: var(--Schemes-Surface-Container, #F3EDF7);

}

.help-bar {
    min-height: calc((100%) / 2 - 1rem);

    max-height: calc((100%) / 2 - 1rem);

    flex-grow: 1;
}

.main-pane {
    min-width: 300px;
}

.main-page {
    min-width: 300px;
}

.error-message {
    width: 90%;

}

.error-message p {
    text-wrap: pretty;
}


.main-page {
    min-height: 100vh;
    background: var(--Schemes-Surface, #FEF7FF);
}

.hide-sidebar-btn {
    padding: 0.4rem !important;
}

.rotated {
    transform: rotate(180deg);
}


.feedback-btn {
    border-radius: 16px;
    background: var(--Schemes-Surface-Container-High, #ECE6F0);

    /* M3/Elevation Light/3 */
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);


    color: var(--M3-sys-light-primary, var(--Schemes-Primary, #65558F));
    text-align: center;

    /* M3/label/large */
    font-family: var(--Label-Large-Font, Roboto);
    /*font-size: var(--Label-Large-Size, 14px);*/
    font-style: normal;
    font-weight: 500;
    line-height: var(--Label-Large-Line-Height, 20px); /* 142.857% */
    letter-spacing: var(--Label-Large-Tracking, 0.1px);
    padding: .6rem !important;
    font-size: 1rem;
}

.feedback-btn:hover {
    background: var(--Schemes-Surface-Container-High, #d8d2dd) !important;
    transform: scale(1.05);
}


.resize {
    /*background: var(--Schemes-Outline-Variant);*/
}

/*.resize-vertical:after {*/
/*    position: absolute;*/
/*    content: "";*/
/*    display: block;*/
/*    width: 100%;*/
/*    background: var(--Schemes-Outline-Variant);*/
/*    height: 1px;*/
/*    top: 4px;*/
/*    z-index: 0;*/
/*}*/

/*.resize-horizontal:after {*/
/*    position: absolute;*/
/*    content: "";*/
/*    display: block;*/
/*    height: 100%;*/
/*    background: var(--Schemes-Outline-Variant);*/
/*    width: 1px;*/
/*    left: 4px;*/
/*    */
/*}*/


.resize-vertical {
    position: relative;
    background: var(--Schemes-Outline-Variant);
    height: 4px;
}

.resize-horizontal {
    background: var(--Schemes-Outline-Variant);

    position: relative;
    width: 4px;
}

.main-pane-mobile {
    height: 100%;
    flex-grow: 1;
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.editor-tab {
    display: block !important;
    height: 100px !important;
}

.react-aria-Tabs {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--Schemes-On-Surface-Variant, #4A4459);

    &[data-orientation=horizontal] {
        flex-direction: column;
    }
}


.react-aria-TabList {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--Schemes-Surface-Container, #e8e0ef);
    border-radius: 8px;


    &[data-orientation=horizontal] {
        border-bottom: 1px solid var(--border-color);

        .react-aria-Tab {
            border-bottom: 3px solid var(--border-color);
        }
    }
}

.react-aria-Tab {
    padding: 10px;
    width: 100%;
    text-align: center;
    cursor: default;
    outline: none;
    position: relative;
    color: var(--Schemes-On-Surface-Variant, #4A4459);
    transition: color 200ms;
    --border-color: transparent;
    forced-color-adjust: none;

    &[data-hovered],
    &[data-focused] {
        color: var(--Schemes-On-Surface);
    }

    &[data-selected] {
        --border-color: var(--Schemes-Primary);
        color: var(--Schemes-Primary);
    }

    &[data-disabled] {
        color: var(--text-color-disabled);
        &[data-selected] {
            --border-color: var(--text-color-disabled);
        }
    }

    &[data-focus-visible]:after {
        content: '';
        position: absolute;
        inset: 4px;
        border-radius: 4px;
        border: 2px solid var(--focus-ring-color);
    }
}

.react-aria-TabPanel {
    margin-top: 4px;
    padding: 10px;
    border-radius: 4px;
    outline: none;

    &[data-focus-visible] {
        outline: 2px solid var(--focus-ring-color);
    }
}