
:root {
    --config-block-height: 100px;
}

@media only screen and (max-width: 1024px) {

    .hide-sidebar-btn {
        display: none !important;
    }

    .help-modal-content {
        max-height: 75vh !important;
        max-width: 90vw !important;
    }

    .export-modal-content {
        max-height: 75vh !important;
    }

    .png-bx {
        max-height: 150px !important;
        min-height: 150px !important;
    }

    .latex-code {
        max-height: 250px !important;
    }

    .help-bar {
        min-height: 300px !important;

        max-height: 300px !important;
    }

    .error-output {
        padding-bottom: 1rem;
    }


    .ui-block {
        margin: 1rem !important;
    }

    .main-page {
        flex-direction: column-reverse;
        gap: 0 !important;
        max-height: none !important;
    }

    .sidebar {
        flex-direction: column-reverse;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        gap: 1rem !important;

        max-width: none !important;
    }

    .main-pane {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        gap: 1rem !important;
        max-width: none !important;
    }

    .help-bar {
        margin-bottom: 0 !important;
        min-height: 100px !important;
    }

    .error-output {
        margin-top: 0 !important;
    }

    .lambda-input {
        flex-grow: 2 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;

        max-height: 400px !important;
        min-height: 400px !important;
    }

    .tree-flat-container {
        min-height: 400px !important;
        margin-top: 0 !important;
        /*margin-bottom: 0 !important;*/
    }


    .tree-flat-container {
        /*flex-grow: 2 !important;*/
        /*margin-right: 1rem !important;*/
    }

    /*.tree-full-screen-btn {*/
    /*    bottom: 1rem !important;*/
    /*    right: 1rem !important;*/
    /*}*/



}


.ui-block {
    flex-wrap: nowrap;
    flex-shrink: 0;
    border-radius: var(--Corner-Medium, 12px);

}

.lambda-input {
    margin: 2rem 2rem 1rem;
    overflow: hidden;
}

.tree-flat-container {
    margin: 1rem 2rem 2rem;
}

.sidebar {
    /*gap: 2rem;*/
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.error-output {
    min-height: calc((100%) / 2 - var(--config-block-height) - 3rem);
    flex-grow: 0;
    margin-bottom: 1rem;
}

.configurations {
    height: var(--config-block-height);
    margin-bottom: 2rem;

    margin-top: 1rem;
    background: var(--Schemes-Surface-Container, #F3EDF7);

}

.help-bar {
    min-height: calc((100%) / 2  - 1rem);

    max-height: calc((100%) / 2 - 1rem );
    /*margin-top: 1rem;*/

    flex-grow: 1;
}

.sidebar {
    max-width: 400px;
    min-width: 400px;
}

.main-pane {
    min-width: 400px;
}

.error-message {
    width: 90%;
}

.error-message p {
    text-wrap: pretty;
}


.main-page {
    min-height: 100vh;
    max-height: 100vh;
    background: var(--Schemes-Surface, #FEF7FF);
}

.hide-sidebar-btn {
    padding: 0.4rem !important;
}

.rotated {
    transform: rotate(180deg);
}


.feedback-btn {
    border-radius: 16px;
    background: var(--Schemes-Surface-Container-High, #ECE6F0);

    /* M3/Elevation Light/3 */
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);


    color: var(--M3-sys-light-primary, var(--Schemes-Primary, #65558F));
    text-align: center;

    /* M3/label/large */
    font-family: var(--Label-Large-Font, Roboto);
    /*font-size: var(--Label-Large-Size, 14px);*/
    font-style: normal;
    font-weight: 500;
    line-height: var(--Label-Large-Line-Height, 20px); /* 142.857% */
    letter-spacing: var(--Label-Large-Tracking, 0.1px);

    padding: 1.2rem !important;
    font-size: 1.1rem;
}


.feedback-btn:hover {
    background: var(--Schemes-Surface-Container-High, #d8d2dd) !important;
    transform: scale(1.05);
}
