@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Kameron:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--Schemes-Surface, #FEF7FF);
    overflow-x: hidden;
}

html {
    background: var(--Schemes-Surface, #FEF7FF);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
    height: 100%;
    border-radius: var(--Corner-Medium, 12px);
    background: var(--Schemes-Surface-Container, #F3EDF7);
}


*::-webkit-scrollbar {
    width: 9px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background: #AEAEB2;
    width: 8px;
    border-radius: 20px; /* roundness of the scroll thumb */
}

::selection {
    /*color: red;*/
    background: var(--State-Layers-On-Surface-Opacity-08, rgba(29, 27, 32, 0.08));;
}