@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
    height: 100%;
    border-radius: var(--Corner-Medium, 12px);
    background: var(--Schemes-Surface-Container, #F3EDF7);
}


*::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background: #AEAEB2;
    border-radius: 20px; /* roundness of the scroll thumb */
}

::selection {
    /*color: red;*/
    background: var(--State-Layers-On-Surface-Opacity-08, rgba(29, 27, 32, 0.08));;
}